* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #574f4f;
}

.traffic-light {
	width: 100px;
	background-color: #333;
	border-radius: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.light {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #555;
	opacity: 0.2;
	transition: background-color 0.5s, opacity 0.5s;
	margin: 10px auto;
}

.light.red {
	background-color: red;
}

.light.yellow {
	background-color: yellow;
}

.light.green {
	background-color: green;
}

.active {
	opacity: 1;
	transform: scale(1.1); /* Pulsowanie */
}

.timer {
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}

.controls {
	margin-top: 20px;
	display: flex;
	gap: 10px;
}

button {
	padding: 10px;
	border: none;
	background-color: #333;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	background-color: #555;
}
